//
// Hier kommen die eigenen Mixins mit @mixin rein
//

@mixin clear {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }

  &:after {
    clear: both;
  }
}
