// Hintergrundverläufe für IE9 mit SVG generieren
$experimental-support-for-svg: true;

// Schrift
$font: 'Open Sans', sans-serif;
$font-size: 16px;
$line-height: 150%;

// Variablen für Abmessungen usw.

$abstand-desktop: 30px;
$abstand-mobile: 10px;