//
// Hier kommen die ganzen Variablen für die Farben rein
//
$grey: #717274;
$orange: #f58006;
$green: #8eb979;
$red: #ff4d4c;
$silver: silver;
$black: #313131;
$blue: #98e2ff;
$white: white;

$release: rgb(254, 255, 235);

$node: rgb(232, 250, 255);
$usersystem: $white;